
<p>
<strong>Name:</strong>
<%= @particle.name %>
</p>

<p>
<strong>Spin:</strong>
<%= @particle.spin %>
</p>

<p>
<strong>Color:</strong>
<%= @particle.color %>
</p>

<%= link_to 'Back', particles_path %>

